.fb-seccion {
	min-height: 500px;
}
.fb-bgoscuro {
    background-color: #212121;
    color: #ffffff;
}
.fb-bglight {
    background-color: white;
    color: #504747;
}
.titulo{
    font-family: 'Titan One';
    margin-bottom: 50px;
}
.jumbotron-inicio {
    background: transparent url('img/fondo.jpg') no-repeat top center;
    background-size: 100%;
    height: 500px;
    background-size: cover;
}
.tarjetas {
    color: #000000;
    border-color: #000000;
    background-color: #DCD9D4;
    box-shadow: 2px 2px 5px #848484;
}
.fb-seccionplus {
    min-height: 630px;
}
.imgaleria img {
    width: 200px; 
    min-height: 120px;
    float: left;
    margin: 10px;
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease;
}
.imgaleria:hover img {
    -webkit-transform:scale(0.25);
    -moz-transform:scale(0.25);
    -ms-transform:scale(0.25);
    -o-transform:scale(0.25);
    transform:scale(0.25);
}

/*ESTILOS PARA PÁGINA PERFIL */
.perbody{
    background-color: #1c2331;
    color:#ffffff;
}
.permain{
    padding-top: 2em;
}
.percard{
    width: 18rem;
    background-color: #1C2331;
}
.perjumbo{
    background-color: #bbdefb;
    color:#000000;
}
.jumbotrontercon{
    font-family: 'Titan One';
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
.pie{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
.bgterminos{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.pestabs{
    margin-bottom: 20px;
}

.pestcontent{
    margin-top: 30px;
}
.acerca{
    background-color: #212121;
    color: #ffffff;
}
.card-img-profile {
    width: 150px;
    height: 150px;
    margin-top: -95px;
    margin-bottom: 5px;
    border: 5px solid;
  }
.modalestilo{
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
}  
.custom-control-label:before{
  background-color:#BED3DA;
}
.jumbotron2 {
  position: relative;
  overflow: hidden;
  background-color:black;
}
.jumbotron2 video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:180%;
  object-fit: cover;
  opacity:0.5;
}
.jumbotron2 .container {
  z-index: 2;
  position: relative;
}
.midcentrado{
    padding-top:200px;
      display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.cardconfig {
    background-color: #1c2331;
    color: #ffffff;
    border: none;
}